streamlit
python-dotenv
SpeechRecognition
gTTS
pydub
Pillow
requests
transformers
torch
torchaudio
pinecone-client
langchain
langchain-community
langchain-chroma
langchain-pinecone
langchain-ollama
langchain-groq
pypdf
pyreadline3